body {
    margin: 0;
}

.change-pw {
    position: absolute;
    font-size: 40px;
    padding: 18px;
    font-style: italic;
}

.line {
    position: absolute;
    background-color: black;
    top: 18%;
    width: 45%;
    height: 2px;
}

.current-email {
    position: absolute;
    left: 5%;
    top: 23%;
    font-size: larger;
}

.password-requirements {
    position: absolute;
    left: 23%;
    top: 30%;
}

.form-container {
    position: absolute;
    top: 30%;
    left: 5%;
    color: rgb(107, 107, 107);
}

input[type="password"] {
    padding: 1px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
}

.change-password-btn {
    margin-left: 10px;
    margin-top: 20px;
    padding: 8px;
    border-radius: 3px;
    background-color: rgb(0, 185, 0);
    color: white;
    border-color: white;
}

#reset-btn {
    margin-left: 35px;
    padding: 8px;
    border-radius: 3px;
    background-color: rgb(255, 66, 66);
    color: white;
    border-color: white;
}