<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" th:href="@{./css/change-password.css}" />
        <title>Studious - Change Password</title>
    </head>
    <body>
        <div th:insert="~{navbar :: navbar}"></div>
        <div class="change-pw">Change <span style="color: rgb(197, 46, 46);">password</span></div>
        <hr class="line">
        <div class="current-email">Logged in as: <span id="current-email"></span></div>

        <div class="password-requirements">
           <h3>Password requirements:</h3>
           <ul>
            <li>Must be at least 12 characters long</li>
            <li>Must contain at least 1 special character</li>
            <li>Must not contain whitespace</li>
           </ul>
           <p>You will be logged out once your password is<br>
            changed successfully.</p>
        </div>

        <form id="password-form" method="post" th:action="@{./change-password}" th:object="${pf}">
            <div class="form-container">
                <input type="hidden" id="hidden-email-input" th:field="*{email}">
                <label for="current-password">Current Password</label><br>
                <input name="current-password" type="password" th:field="*{currentPassword}" required>
                <br><br>
                <label for="new-password">New Password</label><br>
                <input id="new-password" name="new-password" type="password" th:field="*{newPassword}" required>
                <br><br>
                <label for="confirm-password">Confirm Password</label><br>
                <input id="confirm-password" name="confirm-password" type="password" required>
                <br>
                <button id="reset-btn" type="reset">Clear</button>
                <button id="change-password-btn" class="change-password-btn" type="submit">Submit</button>
            </div>
        </form>
        
        
        <script th:src="@{./scripts/change-password.js}"></script>
    </body>
</html>