<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" th:href="@{./css/home.css}" />
        <title>Studious - Home</title>
    </head>
    <body>
        <div th:insert="~{navbar :: navbar}"></div>
        <div>idt
            <img th:src="@{./images/earth_sunrise.jpg}" style="wh: 100%; height: 50%;">
            <div id="greet-text" class="greet-text"></div>
            <div id="student-data" class="student-data"></div>
            
        </div>
        
        <div class="news-container">
            <h1>News</h1>
            <img th:src="@{./images/cozy_cafe.jpg}" style="display: block; margin: auto;">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim 
                id est laborum.</h3>
        </div>

        <div class="quote-container">
            <h1>Quote of the day</h1>
            <h3>"It's not the size of the dog in the fight, it's the size of the fight in the dog" - Mark Twain</h3>
        </div>
        <script th:src="@{./scripts/home.js}"></script>
    </body>
</html>